out/test/**
out/**/*.map
src/**
!src/templates/webview.html
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
vendor/**
!node_modules/@lydell/node-pty/**
!node_modules/@lydell/node-pty-darwin-arm64/**
!node_modules/@lydell/node-pty-darwin-x64/**
!node_modules/@lydell/node-pty-linux-arm64/**
!node_modules/@lydell/node-pty-linux-x64/**
!node_modules/@lydell/node-pty-win32-x64/**
!node_modules/@xterm/**
